.header {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.header__pageTitle {
    color: rgb(154, 19, 19);
    background-color: #e5e9e9;
    border-width: 2px 6px;
    border-style: solid;
    border-color: rgb(191, 188, 188);
    border-radius: 15px;
    outline: 3px black dotted;
    outline-offset: 1px;
    padding: 5px 50px 5px 50px;
    font-weight: 700;
    font-size: 30px;
}

.header__mainImage {
    max-width: 100%;
    height: auto;
}

.header__downloadPhoto {
    color: rgba(100, 100, 203, 0.912);
}